*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.Print-Msg-box {
    width: 600px;
    padding: 20px 15px;
    border: 1px solid blueviolet;
    background-color: #6f6f6f;
}

button , input{
    width: 200px;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
}

button{
    background-color: red;
    color: grey;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.7;
}

button:hover{
    opacity: 1;
    transition: 0.5s;
}

P{
    color: green;
    font-size: 20px;
    margin: 5px 0 0 0;
}